
/**
 * Padding for the body (to accomodate the fixed nav-bar).
 */
body {
  padding-top: 5rem;
  background-color: #95b4da;
}

iframe {
  background-color: #353a40;
}
/**
 * Responsive Text (apparently I'm on my own here)
 * https://v4-alpha.getbootstrap.com/content/typography/#responsive-typography
 */
p {
  font-size: 1.2em;
  color: black;
}



