{% extends "base.html" %}

{% block content %}

<div class="chart" id = '{{ selected }} {{ title }}'></div>

<div class='container mt-5'>
    <div class='card'>
        <h2 class='card-header'>{{ title }}</div>
        <div class='card-img-top' id='countChart'></div>
        <div class='card-body'></div>
    </div>
    <div class='card mt-3'>
        <h2 class='card-header'>Income Groups</div>
        <div class='card-img-top' id='incomeChart'></div>
        <div class='card-body'></div>
        <p id='incomeText'></p>
    </div>
</div>



<script src='static/js/charts.js/'></script>


{% endblock %}