{% extends "base.html" %}

{% block content %}

<div class="create"></div>
<p>Make selections from the different attributes in the dataset to see that breakdown!</p>
<select id='ageSelect' onchange='ageChanged(this.value)'>
    <option value='unselected'>Choose an Age</option>
</select>
<select id='wcSelect' onchange='wcChanged(this.value)'>
    <option value='unselected'>Choose a Workclass</option>
</select>
<select id='edSelect' onchange='edChanged(this.value)'>
    <option value='unselected'>Choose an Education Level</option>
</select>
<select id='msSelect' onchange='msChanged(this.value)'>
    <option value='unselected'>Choose a Marital Status</option>
</select>
<select id="ocSelect" onchange='ocChanged(this.value)'>
    <option value='unselected'>Choose an Occupation</option>
</select>
<select id="raceSelect" onchange='raceChanged(this.value)'>
    <option value='unselected'>Choose a Race</option>
</select>
<select id="sexSelect" onchange='sexChanged(this.value)'>
    <option value='unselected'>Choose a Sex</option>
</select>
<select id='hoursSelect' onchange="hoursChanged(this.value)">
    <option value='unselected'>Choose an Hours per Week</option>
</select>
<select id='ncSelect' onchange="ncChanged(this.value)">
    <option value='unselected'>Choose a Native Country</option>
</select>
<p id='printHere'></p>
<p id='printHere2'></p>

<script src='https://cdn.jsdelivr.net/npm/underscore@latest/underscore-umd-min.js'></script>
<script src='static/js/create.js/'></script>


{% endblock %}
