{% extends "base.html" %}

{% block content %}

<div class="container mt-5" >
    <div class='jumbotrom'>
    
        <h3 style='color:white'>Make selections from the different attributes in the dataset to see a custom filtered table!</h3>
        <hr>
        <div class='card'>
            <div class='card-body'>
                <select id='ageSelect' onchange='ageChanged(this.value)'>
                    <option value='unselected'>Choose an Age</option>
                </select>
                <select id='wcSelect' onchange='wcChanged(this.value)'>
                    <option value='unselected'>Choose an Employment Status</option>
                </select>
                <select id='edSelect' onchange='edChanged(this.value)'>
                    <option value='unselected'>Choose an Education Level</option>
                </select>
            </div>
        </div>
        <div class='card'>
            <div class='card-body'>
                <select id='msSelect' onchange='msChanged(this.value)'>
                    <option value='unselected'>Choose a Marital Status</option>
                </select>
                <select id="ocSelect" onchange='ocChanged(this.value)'>
                    <option value='unselected'>Choose an Occupation</option>
                </select>
                <select id="raceSelect" onchange='raceChanged(this.value)'>
                    <option value='unselected'>Choose a Race</option>
                </select>
            </div>
        </div>
        
        <div class='card'>
            <div class='card-body'>
                <select id="sexSelect" onchange='sexChanged(this.value)'>
                    <option value='unselected'>Choose a Sex</option>
                </select>
                <select id='hoursSelect' onchange="hoursChanged(this.value)">
                    <option value='unselected'>Choose an Hours per Week</option>
                </select>
                <select id='ncSelect' onchange="ncChanged(this.value)">
                    <option value='unselected'>Choose a Native Country</option>
                </select>
            </div>
        </div>
    </div>
    <p id='printHere'></p>
    <p id='printHere2'></p>
    <p id='printHere3'></p>

    <div id='tableGoesHere'></div>
</div>

<script src='https://cdn.jsdelivr.net/npm/underscore@latest/underscore-umd-min.js'></script>
<script src='static/js/data.js/'></script>


{% endblock %}
